<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
>
    <context:property-placeholder location="classpath:parser.properties"/>

    <bean id="random" class="java.lang.Integer" scope="prototype" factory-method="java.util.Random.nextInt">
    </bean>

    <bean id="main" class="Main" init-method="init">
    </bean>

    <bean id="fileWorker" class="fileworker.FileWorker">
        <property name="append" value="false"/>
        <property name="inputPath" value="text.txt"/>
    </bean>

    <bean id = "jsoupUrlWorker" class = "JSOUP.JsoupUrlWorker" >
        <property name="document" value="${parser.startUrl}"/>
        <property name="cssQ" value="${parser.pagesCount.css}"/>
        <property name="attr" value="${parser.pagesCount.attr}"/>
        <property name="pattern" value="${parser.pagesCount.pattern}"/>
    </bean>

    <bean id = "jsoupFileWorker" class="JSOUP.JsoupFileWorker" parent="jsoupUrlWorker">
        <property name="document" value="output.txt"/>
    </bean>

</beans>