<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
>
    <context:property-placeholder location="classpath:parser.properties"/>
    <context:component-scan base-package="classpath:java"/>

    <bean id="random" class="java.lang.Integer" scope="prototype" factory-method="java.util.Random.nextInt"/>

    <bean name="defaultLogger" scope="singleton" class="java.util.logging.Logger" factory-method="getLogger">
        <constructor-arg value="111"/>
    </bean>

    <bean id="logger" class="logger.MyLogger" init-method="init">
        <constructor-arg index="1" value="${logger.configPath}"/>
        <constructor-arg index="0" ref="defaultLogger"/>
    </bean>

    <bean id="main" class="Main" init-method="init">
        <property name="logger" value="#{logger.logger}"/>
        <property name="pageQueue">
            <bean class="java.util.concurrent.ConcurrentLinkedQueue"/>
        </property>
        <property name="linksQueue">
            <bean class="java.util.concurrent.ConcurrentLinkedQueue"/>
        </property>
        <property name="proxyQueue">
            <bean class="proxy.ProxyFactory" factory-method="getProxy">
                <constructor-arg value="proxy.txt"/>
            </bean>
        </property>
    </bean>

    <bean id="fileWorker" class="fileworker.FileWorker">
        <property name="append" value="false"/>
        <property name="inputPath" value="output.txt"/>
    </bean>

    <bean id="avitoLinks" class="downloadLinks.DownloadAvitoLinks">
        <property name="patternCountOfPages" value="${avito.pattern1}"/>
        <property name="cssPages" value="${avito.cssPages}"/>
        <property name="cssAllLinks" value="${avito.cssAllLinks}"/>
        <property name="firstPartref" value="${avito.firstPartref}"/>
        <property name="url" value="${avito.url}"/>
        <property name="urlLinkPageSuffix" value="${avito.urlLinkPageSuffix}"/>
        <property name="cachePath" value="${avito.cachePath}"/>
        <property name="linksPath" value="${avito.linksPath}"/>
        <property name="logger" value="#{logger.logger}"/>
        <property name="cachedLinks">
            <list/>
        </property>
        <property name="linksQueue" value="#{main.linksQueue}"/>
    </bean>

    <bean id="avitoDownloader2" class="pageDownloader.AvitoDownloader2">
        <property name="priceClass" value="${avito.priceClass}"/>
        <property name="adressClass" value="${avito.adressClass}"/>
        <property name="descriptionClass" value="${avito.descriptionClass}"/>
        <property name="titleClass" value="${avito.titleClass}"/>
        <property name="contentFolder" value="${avito.contentFolder}"/>
        <property name="logger" value="#{logger.logger}"/>
        <property name="picture_css" value="${avito.picture.css}"/>
        <property name="picture_attr" value="${avito.picture.attr}"/>


    </bean>

    <bean id="executionDeepManager" class="executionManager.ExecutionManagerDeepImpl">
        <property name="pageDownloader" ref="avitoDownloader2"/>
        <property name="pageQueue" value="#{main.pageQueue}"/>
        <property name="logger" value="#{logger.Logger}"/>
        <property name="downloadLinks" ref="avitoLinks"/>
        <property name="linksQueue" value="#{main.linksQueue}"/>
    </bean>

    <bean id = "netWorker" class = "netWorker.NetWorker">
        <property name="proxyQueue" value="#{main.proxyQueue}"/>
        <property name="logger" value="#{logger.logger}"/>
    </bean>

</beans>